.horizontal {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

.input-area {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.content {
    margin-left: 15%;
    margin-right: 15%
}

.submit {
    margin-top: 15px;

}